.financial_health_quiz_container {
display: flex;
flex-direction: column;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  min-height: 100vh; /* Full viewport height */
  
}

.welcome_container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #007bff;
  }
  
  p {
    font-size: 1.125rem;
    color: #6c757d;
    margin-bottom: 2rem;
  }
  
  .button_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .start_button, .resume_button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1rem;
  }
  
  .start_button:hover, .resume_button:hover {
    background-color: #0056b3;
  }
  
  .start_button:active, .resume_button:active {
    transform: scale(0.98);
  }
  